
#ekaart {
    background-color: orangered;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}


#tokaart {
    background-color: cornflowerblue;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#kolmasart {
    background-color: yellowgreen;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#neljasart {
    background-color: lightslategrey;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#viidesart {
    background-color: navajowhite;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#kuudesart {
    background-color: skyblue;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#seiskaart {
    background-color: yellow;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

#kasiart {
    background-color: palevioletred;
    width: 500px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    float: left;
}


button {
    margin-bottom:10px;
}